In [319]:
import csv
import sqlite3
import pandas as pd
import numpy as np

In [320]:
conn = sqlite3.connect(r'Student Loan Project')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [321]:
conn.commit()

In [322]:
AllData = pd.read_csv(r'C:\Users\nmaxb\Student\Student Loan Project\Most-Recent-Cohorts-All-Data-Elements (version 1).csv')

In [323]:
AllData.to_sql('educaters', conn)

In [324]:
conn.commit()

In [325]:
print(AllData[0:5])

   UNITID                               INSTNM STABBR  REGION     UGDS  \
0  100654             Alabama A & M University     AL       5   4824.0
1  100663  University of Alabama at Birmingham     AL       5  12866.0
2  100690                   Amridge University     AL       5    322.0
3  100706  University of Alabama in Huntsville     AL       5   6917.0
4  100724             Alabama State University     AL       5   4189.0

   PCTFLOAN   CDR3 DEBT_MDN
0    0.7697  0.198    13246
1    0.5207  0.059  14979.5
2    0.8741  0.128    10430
3    0.4278  0.074    13522
4    0.7690  0.211    15738

In [326]:
AllData.dtypes

UNITID        int64
INSTNM       object
STABBR       object
REGION        int64
UGDS        float64
PCTFLOAN    float64
CDR3        float64
DEBT_MDN     object
dtype: object

In [327]:
conn.commit()

In [328]:
# convert 3 columns from objects to floats to use later for adding
AllData[["DEBT_MDN"]] = AllData[["DEBT_MDN"]].apply(pd.to_numeric, errors = "coerce")

In [329]:
AllData.dtypes

UNITID        int64
INSTNM       object
STABBR       object
REGION        int64
UGDS        float64
PCTFLOAN    float64
CDR3        float64
DEBT_MDN    float64
dtype: object

In [330]:
conn.commit()

In [331]:
# round columns to three decimal points
AllData.round({"PCTFLOAN":3, "CDR3":3})

,UNITID,INSTNM,STABBR,REGION,UGDS,PCTFLOAN,CDR3,DEBT_MDN
0,100654,Alabama A & M University,AL,5,4824.0,0.770,0.198,13246.0
1,100663,University of Alabama at Birmingham,AL,5,12866.0,0.521,0.059,14979.5
2,100690,Amridge University,AL,5,322.0,0.874,0.128,10430.0
3,100706,University of Alabama in Huntsville,AL,5,6917.0,0.428,0.074,13522.0
4,100724,Alabama State University,AL,5,4189.0,0.769,0.211,15738.0
5,100751,The University of Alabama,AL,5,32387.0,0.388,0.052,17340.0
6,100760,Central Alabama Community College,AL,5,1404.0,0.277,0.226,5764.0
7,100812,Athens State University,AL,5,2801.0,0.661,0.071,13461.0
8,100830,Auburn University at Montgomery,AL,5,4211.0,0.577,0.115,10750.0
9,100858,Auburn University,AL,5,23391.0,0.320,0.030,17000.0
10,100937,Birmingham Southern College,AL,5,1283.0,0.447,0.066,19500.0
11,101028,Chattahoochee Valley Community College,AL,5,1370.0,0.227,0.133,6500.0
12,101073,Concordia College Alabama,AL,5,389.0,0.812,NaN,9500.0
13,101116,South University-Montgomery,AL,5,369.0,0.673,0.145,10919.0
14,101143,Enterprise State Community College,AL,5,1365.0,0.165,0.209,5000.0
15,101161,Coastal Alabama Community College,AL,5,4101.0,0.445,0.185,5500.0
16,101189,Faulkner University,AL,5,2272.0,0.647,0.122,14450.0
17,101240,Gadsden State Community College,AL,5,4349.0,0.000,NaN,NaN
18,101277,New Beginning College of Cosmetology,AL,5,83.0,0.330,0.047,5500.0
19,101286,George C Wallace Community College-Dothan,AL,5,3836.0,0.000,NaN,NaN
20,101295,George C Wallace State Community College-Hance...,AL,5,4805.0,0.324,0.154,7750.0
21,101301,George C Wallace State Community College-Selma,AL,5,1217.0,0.000,NaN,NaN
22,101365,Herzing University-Birmingham,AL,5,537.0,0.769,0.136,11766.0
23,101435,Huntingdon College,AL,5,1099.0,0.706,0.108,16950.0
24,101453,Heritage Christian University,AL,5,59.0,0.200,0.166,10500.0
25,101462,J. F. Drake State Community and Technical College,AL,5,685.0,0.000,NaN,NaN
26,101471,J F Ingram State Technical College,AL,5,449.0,0.000,NaN,NaN
27,101480,Jacksonville State University,AL,5,6622.0,0.647,0.118,16450.0
28,101499,Jefferson Davis Community College,AL,5,720.0,0.000,0.185,NaN
29,101505,Jefferson State Community College,AL,5,7052.0,0.189,0.130,3793.5
...,...,...,...,...,...,...,...,...
7028,47503301,Relay Graduate School of Education - Newark,NJ,2,NaN,NaN,0.037,NaN
7029,47503302,Relay Graduate School of Education - New Orleans,LA,5,NaN,NaN,0.037,NaN
7030,47503303,Relay Graduate School of Education - Delaware,DE,2,NaN,NaN,0.037,NaN
7031,47503304,Relay Graduate School of Education - Memphis,TN,5,NaN,NaN,0.037,NaN
7032,47503305,Relay Graduate School of Education - Houston,TX,6,NaN,NaN,0.037,NaN
7033,47503306,Relay Graduate School of Education - Chicago,IL,3,NaN,NaN,0.037,NaN
7034,47503307,Relay Graduate School of Education - Baton Rouge,LA,5,NaN,NaN,0.037,NaN
7035,47503308,Relay Graduate School of Education - Philadelp...,PA,2,NaN,NaN,0.037,NaN
7036,47503309,Relay Graduate School of Education - Denver,CO,7,NaN,NaN,0.037,NaN
7037,47503310,Relay Graduate School of Education - Nashville,TN,5,NaN,NaN,0.037,NaN
7038,47503311,Relay Graduate School of Education - San Antonio,TX,6,NaN,NaN,0.037,NaN
7039,47503312,Relay Graduate School of Education - Dallas-Fo...,TX,6,NaN,NaN,0.037,NaN
7040,47503313,Relay Graduate School of Education - Washingto...,DC,2,NaN,NaN,0.037,NaN
7041,47647001,WestMed College - Merced,CA,8,NaN,NaN,0.131,9500.0
7042,47662901,Salon Institute - Columbus Campus,OH,3,NaN,NaN,0.100,12000.0
7043,47691101,SAE Institute of Technology San Francisco,CA,8,NaN,NaN,0.192,5500.0
7044,48065701,Rasmussen College - Overland Park,KS,4,NaN,NaN,0.071,9774.0
7045,48079001,Rocky Vista University - Southern Utah,UT,7,NaN,NaN,0.000,NaN
7046,48092101,Designer Barber & Stylist School -,AR,5,NaN,NaN,NaN,NaN
7047,48133101,Sharp Edgez Barber Institute - Buffalo,NY,2,NaN,NaN,0.452,NaN
7048,48154401,National Personal Training Institute of Cleveland,OH,3,NaN,NaN,0.218,6333.0
7049,48305401,Barber School of Pittsburgh - Ambridge,PA,2,NaN,NaN,0.230,10806.0
7050,48312401,Arizona State University at Tucson,AZ,6,NaN,NaN,0.065,NaN
7051,48312402,Arizona State University - ASU Colleges at Lak...,AZ,6,NaN,NaN,0.065,NaN
7052,48312403,Arizona State University at The Gila Valley,AZ,6,NaN,NaN,0.065,NaN
7053,48312404,Arizona State University at Yuma,AZ,6,NaN,NaN,0.065,NaN
7054,48387801,Bay Area Medical Academy - San Jose Satellite ...,CA,8,NaN,NaN,NaN,6482.5
7055,48400201,High Desert Medical College,CA,8,NaN,NaN,0.040,7521.0
7056,48778201,BCI - Malden,MA,1,NaN,NaN,NaN,3500.0
7057,49005401,Health Career Institute- Lauderdale Lakes,FL,5,NaN,NaN,NaN,NaN

In [332]:
AllData.columns

Index(['UNITID', 'INSTNM', 'STABBR', 'REGION', 'UGDS', 'PCTFLOAN', 'CDR3',
       'DEBT_MDN'],
      dtype='object')

In [333]:
# Rename some columns
AllData.columns = ['UNITID', 'NAME', 'STATE', 'REGION', 'UNDERGRADS', 'PCTFEDLOANS', 'RPYMT_RATE_YR3', 'AVG_LOAN_DEBT']

In [334]:
AllData.columns

Index(['UNITID', 'NAME', 'STATE', 'REGION', 'UNDERGRADS', 'PCTFEDLOANS',
       'RPYMT_RATE_YR3', 'AVG_LOAN_DEBT'],
      dtype='object')

In [335]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Institutions 
    (UNITID INTEGER PRIMARY KEY NOT NULL,
    INSTNM TEXT NOT NULL,
    STABBR TEXT NOT NULL,
    REGION  FLOAT NOT NULL);''')

In [336]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Demographics
    (UNITID INTEGER PRIMARY KEY NOT NULL,
    PCTFLOAN FLOAT NOT NULL,
    UGDS TEXT NOT NULL);''')

In [337]:
cursor.execute('''CREATE TABLE IF NOT EXISTS FinAid
    (UNITID INTEGER PRIMARY KEY NOT NULL,
    CDR3 FLOAT NOT NULL,
    DEBT_MDN INTEGER NOT NULL);''')

In [338]:
conn.commit()